<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @employee.rg %>
</p>

<p>
  <strong>Store:</strong>
  <%= @employee.store_id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
