<div class='row'>
  <div class='col s12'>
    <h4 class='teal-text text-dark-3'>Lojas</h4>
  </div>
</div>

<div class='row'>
  <div class='col s12 right-align'>
    <%= link_to(new_store_path, class: 'btn-flat') do %>
        <i class='material-icons'>add</i>
        cadastrar loja
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col s12'>
    <table class='bordered highlight'>
      <thead>
      <tr>
        <th class='center-align'>Nome</th>
        <th class='center-align'>Endereço</th>
        <th class='center-align' colspan="3"></th>
      </tr>
      </thead>

      <tbody>
          <% @stores.each do |store| %>
              <tr>
                <td class='center-align'><%= store.name %></td>
                <td class='center-align'><%= store.address %></td>
                <td class='center-align'>
                  <%= link_to(store_path(store), class: 'btn-flat tooltipped', 'data-tooltip' => 'Visualizar') do %>
                    <i class='material-icons'>remove_red_eye</i>
                  <% end %>
                </td>
                <td class='center-align'>
                  <%= link_to(edit_store_path(store), class: 'btn-flat tooltipped', 'data-tooltip' => 'Editar') do %>
                      <i class='material-icons'>mode_edit</i>
                  <% end %>
                </td>
                <td class='center-align'>
                  <%= link_to(store_path(store), method: :delete, class: 'btn-flat tooltipped', 'data-tooltip' => 'Remover', 'data-confirm' => 'Tem certeza que deseja apagar essa loja?') do %>
                      <i class='material-icons'>delete</i>
                  <% end %>
                </td>
              </tr>
          <% end %>
      </tbody>
    </table>
    <% if @stores.empty? %>
        <p class='card-panel center-align hoverable'>
          <i class='left material-icons'>sentiment_neutral</i>
          Nenhuma loja cadastrada
        </p>
    <% end %>
  </div>
</div>