<%= simple_form_for @goal do |f| %>
    <div class='col s12' id='form'>
      <%= f.association :store, label: 'Loja' %>
      <%= f.input :name, label: 'Descrição'%>
      <%= f.input :init_date, as: 'string', label: 'Data Inicial', input_html: { class: 'datepicker' } %>
      <%= f.input :end_date, as: 'string', label: 'Data Final', input_html: { class: 'datepicker' } %>
      <%= f.input :value, label: 'Valor Total' %>
      <%= f.button :submit, 'Salvar' %>
    </div>
<% end %>

<script language="JavaScript">
    $(document).ready(function() {
        $('select').material_select();
    });

    $('.datepicker').pickadate({
        monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
        weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
        labelMonthNext: 'Próximo mês',
        labelMonthPrev: 'Mês anterior',
        labelMonthSelect: 'Selecione um mês',
        labelYearSelect: 'Selecione um ano',
        selectMonths: true,
        selectYears: 15,
        today: 'Hoje',
        clear: 'Limpar',
        close: 'Ok',
        format: 'd/m/yyyy',
        closeOnSelect: false
    });
</script>