<%= simple_form_for @goal do |f| %>
    <div class='col s12' id='form'>
      <%= f.association :store, label: 'Loja' %>
      <%= f.input :init_date, label: 'Data de Início' %>
      <%= f.input :end_date, label: 'Data de Fim' %>
      <%= f.input :value, label: 'Valor Total' %>
      <%= f.button :submit, 'Salvar' %>
    </div>
<% end %>