<p id="notice"><%= notice %></p>

<p>
  <strong>Init date:</strong>
  <%= @goal.init_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>Reference month:</strong>
  <%= @goal.reference_month %>
</p>

<p>
  <strong>Value:</strong>
  <%= @goal.value %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
